/.debhelper/
/debhelper-build-stamp
/*.debhelper.log
/files
/libckit-smlnj/
/libcml-smlnj/
/libcmlutil-smlnj/
/libexene-smlnj/
/libmlnlffi-smlnj/
/libmlrisctools-smlnj/
/libpgraphutil-smlnj/
/libsmlnj-smlnj/
/ml-burg/
/ml-lex/
/ml-lpt/
/ml-nlffigen/
/ml-yacc/
/nowhere/
/smlnj/
/smlnj-doc/
/smlnj-runtime/
/*.substvars
